.search {
  padding: 12px 16px;
  width: 350px;
  height: 40px;
  background-color: rgba(0, 255, 255, 0);
  border-radius: 12px;
  border: 1px solid #323b54;
}

.search ::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: #475069;
}

.search-svg {
  top: 20px;
  left: 16px;
  position: absolute;
}
.no-search-svg {
  display: none;
}

.search-block {
  position: relative;
}

.search-p {
  padding-left: 55px;
}
